[submodule "utils/spdlog"]
	path = utils/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "utils/gtest"]
	path = utils/gtest
	url = https://github.com/google/googletest.git
[submodule "utils/benchmark"]
	path = utils/benchmark
	url = https://github.com/google/benchmark.git
